<div class="container">
    <h1><%= user.username %></h1>
    <h2><%= user.email %></h2>

    <form action="/user/edit/<%= user.id %>" method="POST" accept-charset="utf-8">
        <button type="submit" class="btn btn-success">Edit</button>
    </form>
</div>